:host{
    height: 100vh;
}
body{
    font-family: 'MullerDemo-ExtraBold';
}
footer{
    height: 40px;
    background-color:blue;
    color: white;
    bottom: 0px;
    position: sticky;
}
#charts mat-card{
    height: 140px;
}
.space{
    margin: 0 20px;
}
mat-drawer{
    width: 250px;
}
mat-drawer-container{
    height: calc(100vh - 100px) ;
    /* height: 100%; */
}
mat-drawer-content{
    margin-top: 30px;
}
.sidebar .active{
    background: #007ACC;
    color: #fff;
}
ul li, li{
    list-style: none;
}
.graph{
    height: 400px;
}
