<!-- navbar 
    sidenav
    main
    footer
-->
<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div fxLayout="row" fxLayoutAlign="flex-start center">
                
                <button mat-icon-button (click)="toggleSideBar()">
                    <mat-icon>menu</mat-icon>
                </button>
                &nbsp;&nbsp;&nbsp;
                <h1>CloudCrop</h1>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end center">
                <ul fxLayout="row" fxLayoutGap="20px">
               <!-- <li> <button mat-button color="primary">Apply</button> </li> -->
               <li> <button mat-icon-button><mat-icon aria-hidden="false">home</mat-icon></button></li>
               <li> <button mat-icon-button><mat-icon>help_outline</mat-icon></button></li>
               <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="">
                        <mat-icon>person_outline</mat-icon>
                        Profile
                    </button>
                    <button mat-menu-item (click)="signOut()">
                        <mat-icon>exit_to_app</mat-icon>
                        Sign out
                    </button>
                </mat-menu>
            </li>
                </ul>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
    <!-- sidenav -->
    <mat-drawer-container>
        <mat-drawer mode="side" [opened]="sideBarOpen">

            <mat-nav-list>
               
            
                

                <h2 matSubheader>Welcome, user</h2>
                <!-- <div style="padding-left: 20px;" *ngFor="let item of IuserName"> -->
                    <!-- <div style="padding-left: 20px;" *ngFor="let item of IuserName">
                    <h4>Welcome, {{item.first_name}}</h4> -->
                    <!-- <h4>Welcome, user</h4> -->
                    <!-- <h5>Email: {{item.Email}}</h5> 
                    
                </div> -->
                
                
                <mat-divider></mat-divider>
                <div class="sidebar">
                <a mat-list-item routerLinkActive="active" [routerLink]="['home']"><span class="material-icons">
                    dashboard
                    </span>Dashboard</a>
                <a mat-list-item routerLinkActive="active" [routerLink]="['st-farmer']"><mat-icon>person_outline</mat-icon>My account</a>
                <a mat-list-item routerLinkActive="active" [routerLink]="['predict']"><span class="material-icons">
                    notifications
                    </span>Prediction</a>
                <a mat-list-item routerLinkActive="active" [routerLink]="['st-farmer']"><span class="material-icons">
                    analytics
                    </span>Historical data</a>
                    <br>
                     <mat-divider></mat-divider>
                    <br>
                     <a mat-list-item routerLinkActive="active" [routerLink]="['st-farmer']"><span class="material-icons">
                        analytics
                        </span>settings</a>

                   
                    </div>

            </mat-nav-list>

        </mat-drawer>
   
    <!-- main dashboard content -->
    <mat-drawer-content fxLayout="column">


      <router-outlet></router-outlet>

    </mat-drawer-content>


</mat-drawer-container>
<!-- <footer> footer &copy; 2020</footer> -->

